.acf-popup-box {
	background: #FFFFFF;
	border: 1px solid #ccd0d4;
	position: relative;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	/* title */
	/* footer */
	.title {
		border-bottom: 1px solid #ccd0d4;
		margin: 0;
		padding: 15px;
		h3 {
			font-size: 14px;
			line-height: 1em;
			padding: 0;
			margin: 1.5em 0 0;
			.acf-field.acf-popup & {
				margin-top: 0;
			}
		}
	}
	.inner {
		padding: 15px;
	}
	.flt {
		padding: 1em 0;
		display: flex;
		gap: 1em;
		label {
			display: inline-flex;
			gap: 0.5em;
			align-items: center;
			cursor: pointer;

			--unit: calc( 1em - 3px);
			input {
				display: none;
			}
			&::before {
				// color: #ccc;
				content: '';
				display: inline-block;
				height: var(--unit);
				width: calc( 2 * var(--unit) );
				border-radius: 40px;
				background-image: radial-gradient(currentcolor calc( 0.5 * var(--unit) ), transparent calc( 0.5 * var(--unit) ));
				background-size: var(--unit) var(--unit);
				background-repeat: no-repeat;
				background-position: left;
				box-sizing: border-box;
				outline: 1px solid currentColor;
				outline-offset: 2px;
			}
			&:has(:checked)::before {
				color: #2271b1;
				background-position: right;
			}
			&:has(:disabled) {
				opacity: 0.33;
				pointer-events: none;
				// cursor: default;
			}
		}
	}
	h2 {
		color: #333333;
		font-size: 26px;
		line-height: 1.25em;
		margin: 0.25em 0 0.75em;
		padding: 0;
	}
	p {
		margin-top: 0.5em;
	}
	i.dashicons-external {
		margin-top: -1px;
	}
	.footer {
		border-top: 1px solid #ccd0d4;
		padding: 12px;
		font-size: 13px;
		line-height: 1.5;
		p {
			margin: 0;
		}
	}
}
// hell is paved with z-indices
body {
	&.acf-popup-open {
		.acf-fields.-sidebar::before,
		.acf-fields > .acf-tab-wrap .acf-tab-group {
			z-index: 0;
		}
		.acf-field.acf-accordion {
			position: static;
		}
	}
}
