@use "sass:math";

.acf-button-group  {
	.edit-post-meta-boxes-area.is-side &, // block editor sidebar
	.repeater-choice-visualize-extended-color-picker &,
	.repeater-choice-visualize-color_picker & {
		flex-wrap:wrap;
		label {
			.postbox-container & {
				//max-width:20%;
				flex:0 0 0;
			}
		}
		.color-label {
			// min-width: 1em;
			// min-height: 1em;
		}
	}
	.size-thumbnail {
		// height: 100%;
		// object-fit: none;
	}

	.acf-field-button-group.btn-2col &,
	.acf-field-button-group.btn-3col &,
	.acf-field-button-group.btn-4col &,
	.acf-field-button-group.btn-5col &,
	.acf-field-button-group.btn-6col & {
		flex-wrap: wrap;
		label {
			&:first-of-type {
				border-radius:3px 0 0 0;
			}
			&:last-of-type {
				border-radius:0 0 3px 0;
			}
		}
	}
	@each $n in 2,3,4,5,6 {
		.acf-field-button-group.btn-#{$n}col & {
			label {
				flex:1 0 percentage( math.div(1, $n) );
				box-sizing:border-box;
				border-bottom-width:0;
				&:nth-of-type(#{$n}) {
					border-radius:0 3px 0 0;
					& ~ label {
						flex-basis:auto;
					}
				}
				&:nth-last-of-type(#{$n}) {
					border-radius:0 0 0 3px;
					&,
					& ~ label {
						border-bottom-width:1px;
					}
				}
			}
		}
	}

}
.acf-transparent {
	background-image: var(--acfwpo-transparency);
	background-size: 20px 20px;
	background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}
