@use '../variables/index' as *;

.acf-checkbox-list {
	.acf-field-checkbox.buttongroup & { // ul
		&.acf-hl {
			li {
				margin-right:0;
				&:first-child {
					label {
						border-radius:3px 0 0 3px;
					}
				}
				&:last-child {
					label {
						border-radius:0 3px 3px 0;
						border-right-width:1px;
					}
				}
				label {
					display: inline-block;
					border-width: 1px 0 1px 1px;
				}
			}
		}
		&.acf-bl {
			display:inline-block;
			li {
				margin-right:0;
				&:first-child {
					label {
						border-radius:3px 3px 0 0;
					}
				}
				&:last-child {
					label {
						border-radius:0 0 3px 3px;
						border-bottom-width:1px;
					}
				}
				label {
					display: block;
					border-width: 1px 1px 0 1px;
				}
			}
		}
		li {

			label {
				padding: 5px 10px;
				border-color: $acf-gray;
				border-style: solid;

				&.selected {
					// background-color:wp-color(blue-50);
					background-color:$acf-blue;
					border-color: $acf-blue-darker;
					color:#fff;
				}
				input {
					display: none;
					& + * {

					}
				}
			}
		}
	}

	.acf-field-checkbox.checkbox-modern & { // ul
		label {
			position: relative;
			display: inline-flex;
			align-items: center;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			[type="checkbox"] {
				display: none;
			}
			&::before {
				content:'';
				border:2px solid wp-color(gray-60);
				border-radius:50em;
				background:#fff;
				width:28px;
				height:16px;
				box-sizing:border-box;
				transition: background-color 0.3s, border-color 0.3s;
				display: inline-block;
				order:-2;
			}
			&::after {
				content: '';
				background: wp-color(gray-60);
				width:10px;
				height:10px;
				border-radius:50em;
				margin-left:-24px;
				margin-right:20px;
				transition: margin-left 0.2s ease-in-out, margin-right 0.2s ease-in-out, background-color 0.3s;
				display: inline-block;
				order:-1;
			}
			&.selected {
				&::before {
					border-color: wp-color(blue-50);
				}
				&::after {
					background-color: wp-color(blue-50);
					margin-left:-14px;
					margin-right:10px;
				}
			}
		}
	}

}
