.acf-field-button-group,
.acf-field-radio,
.acf-field-checkbox {
	&.color-spots {
		.acf-button-group,
		.acf-radio-list,
		.acf-checkbox-list {

			label {
				position:relative;
				flex-grow: 0;
				flex-shrink: 0;
				flex-basis: 32px;
				height:32px;
				overflow:hidden;
				box-sizing:border-box;
				margin:2px;
				border-radius:50%;
				padding:0;
				border-width:1px;
				border-style: solid;
				border-color: #333;
				.color-label {
					padding:0;
					margin:2px;
					width:26px;
					height:26px;
					border-radius:50%;
					box-sizing:border-box;
					&::before {
						content: "";
						font-family: dashicons;
						display:inline-block;
						//margin:-5px 5px;
						vertical-align:middle;
						text-align:center;
						width:100%;
						height:100%;
						font-size:24px;
						line-height:26px;
						position: relative;
						z-index: 1;
					}
				}
				&.selected {
					position:relative;
					// border-color:rgba(wp-color(blue-50),0.7);
					border-color: rgba( $acf-blue, 0.7 );
					border-width: 3px;

					flex-basis: 36px;
					height: 36px;
					margin: 0;
					.color-label {
						opacity:1;
						&::before {
							content: $dashicon-yes;
							//letter-spacing:-1em;
							opacity:1;
						}
					}
				}

				.white  {
					position:absolute;
					display:block;

					left:0;
					top:0;
					bottom:0;
					right:0;

					background:#fff;
					background-image:	linear-gradient(45deg, #ededed 25%, transparent 25%),
										linear-gradient(-45deg, #ededed 25%, transparent 25%),
										linear-gradient(45deg, transparent 75%, #ededed 75%),
										linear-gradient(-45deg, transparent 75%, #ededed 75%);
					background-size: 20px 20px;
					background-position: 0 0, 0 10px, 10px -10px, -10px 0px;

				}
			}
			// NULL value
			[type="radio"][value=""] ~ .color-label {
				background-color:rgba(0,0,0,0) !important;
				&::after {
					content:'';
					background-color: rgba( wp-color(red-50), 0.7);
					width:4px;
					height:100%;
					position: absolute;
					left:50%;
					top:0;
					margin-left:-2px;
					transform:rotate(45deg);
				}
//				color:#000;
			}
		}
		&.acf-popup {
			.acf-button-group,
			.acf-radio-list,
			.acf-checkbox-list {
				label {
					&.selected {
						flex-basis: 32px;
						height:32px;
						border-width: 1px;
						border-color: #333;
						.color-label {
							&::before {
								content:'';
							}
						}
					}
				}
			}
			.acf-popup-box {
				max-width:450px;
				label {
					flex-basis: 48px;
					height:48px;
					.color-label {
						width:42px;
						height:42px;
						&::before {
							font-size:40px;
							line-height:42px;
						}
					}
					&.selected {
						border-width: 3px;
						border-color: rgba( $acf-blue, 0.7 );
						flex-basis: 52px;
						height: 52px;
						.color-label {
							&::before {
								content: $dashicon-yes;
							}
						}
					}
				}
			}
		}

		.acf-radio-list,
		.acf-chackbox-list {
			display: inline-flex;
			flex-wrap: wrap;
//			max-width: 220px;
			li {
				display: inline-flex;
			}
			[type="radio"] {
				display: none;
			}
		}
	}

}
