.acf-field-flexible-content {
	&.acf-accordion-layout {
		.acf-flexible-content .layout {
			margin:0;
		}
		> .acf-input {
			> .acf-flexible-content {
				> .ui-sortable {
					.layout {
						&:not(:first-child) {
							border-top-style:none;
						}
					}
				}
			}
		}
		.layout {
			.acf-fc-layout-actions-wrap {
				align-items: stretch;
			}
		}
		.acf-fc-top-actions {
			.acf-fc-expand-all,
			.acf-fc-collapse-all,
			.acf-separator {
				display: none;
			}
		}
	}
}
