[data-name="preview-edit"] {
	display: block;
	appearance: none;
	border: 1px dotted #ccc;
	padding: 1em;
	margin: 0;
	background: none;
	min-width: 50px;
	min-height: 25px;
	text-align: initial;
	cursor: pointer;
	&:hover,
	&:focus {
		border-style: solid;
	}
	a, button, input {
		pointer-events: none;
	}
	[data-type="group"] > .acf-input > &,
	[data-type="wysiwyg"] > .acf-input > & {
		display: grid;
		grid-template-columns: auto min-content;
		grid-auto-flow: row dense;
		width: 100%;
		.dashicons {
			grid-column: 2;
		}
	}
}
.acf-dialog {
	position: fixed;
	grid-template-rows: max-content auto max-content;
	border-style: none;
	padding: 0;
	background-color: #fff;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	&::backdrop {
		background-color: rgba(0,0,0,0.5);
	}
	&[open] {
		display: grid;
		body:has(&) {
			overflow: hidden;
		}
		.acf-field-wysiwyg & {
			z-index: 100000;
			overflow: visible;
		}
	}
	.acf-dialog-head {
		position: sticky;
		top: 0;
		z-index: 1;
		padding: 1em;
		background-color: #fff;
		font-weight: 700;
		font-size: 1.2em;
		border-bottom: #ccd0d4 solid 1px;
		display: flex;
		align-items: start;
		.-cancel {
			margin-left: auto;
		}
	}
	.acf-dialog-body {
		background-color: #fff;
		> .acf-fields {
			border-style: none;
		}
		&:not(:has(.acf-fields,.wp-editor-wrap)) {
			padding: 0 1em;
		}
		&:last-child {
			padding-bottom: 1em;
		}
		.wp-editor-wrap {
			// margin: 1em 0;
		}
	}
	.acf-dialog-foot {
		position: sticky;
		bottom: 0;
		padding: 1em;
		background-color: #fff;
		border-top: #ccd0d4 solid 1px;
		display: flex;
		.button-primary {
			margin-left: auto;
		}
	}
	div.mce-inline-toolbar-grp {
		position: fixed;
	}
}
.mce-tooltip {
	min-width: max-content;
}
