.acf-field-radio {
	&.acf-popup {
		 > .acf-input {
			 > .acf-radio-list {
 				label:not(.selected) {
 					&,
 					& ~ * {
 						display:none;
 					}
 				}
 			}
		}
	}
}
.acf-popup-box {
	&.acf-box a {
		text-decoration: unset;
	}
}
