&.no-label {
	& > .acf-label {
		display:none;
		& + .acf-input {
			width:100%;
		}
	}
	.acf-fields.-left > & {
		&:before {
			content:none;
		}
		&.seamless > .acf-input {
			padding-left:0;
		}
	}
}

&.only-label {
	& > .acf-input {
		display:none;
	}
	.acf-fields.-left > & {
		&:before {
			width: 100%;
			border-right-style: none;
		}
		& + .acf-field {
			&:before {
				top: -1px;
			}
		}
	}
}
