// .acf-fields.-left > .acf-field > .acf-input { p }
.acf-block-body .acf-fields > .acf-field {
	&.seamless {
	}
}

.acf-block-body .acf-fields > .acf-field,
.block-editor .edit-post-sidebar .acf-fields > .acf-field, // override block editor
.acf-field {
	&.seamless {

		&,
		& > .acf-input,
		.acf-fields.-left > & > .acf-input  {
			padding:0;
			margin:0; // needed by block editor
			& > .acf-fields {
				border-style:none;
			}
		}
		.acf-fields.-left > & > .acf-input  {
			padding-left:1px;
			margin-top:-15px;
			margin-bottom:-15px;
		}
		&.acf-field-wysiwyg {
			.acf-editor-wrap .wp-editor-container {
				border-style:none;
			}
			.mce-top-part::before {
				box-shadow: none;
			}
			div.mce-statusbar {
				background:#f5f5f5;
			}
		}
		&.acf-field-oembed {
			.acf-oembed {
				border-style: none;
			}
		}
		&.acf-field-repeater {
			& > .acf-input {
				& > .acf-repeater {
					& > .acf-table {
						.layout > .acf-fields > & {
							border-width:1px 0;
						}
					}
					& > .acf-actions {
						padding:0 12px 15px 12px;
					}
				}
			}
		}
	}
}

.block-editor .edit-post-sidebar .acf-fields > .acf-field, // override block editor
.acf-field {
	&.seamless {
		> .acf-input > .acf-taxonomy-field > .categorychecklist-holder {
			border-style: none;
		}

		.acf-fields:not(.-left) > & {
			.postbox > .inside & > .acf-label {
				margin:0;
				padding:10px;
				border-bottom:1px dashed #eeeeee;
				// .acf-block-body & {
				// 	padding:10px 20px 0 20px;
				// }
			}
		}
		&.acf-field-group:not(.no-label) {

			& > .acf-label {
				margin:0;
				padding:10px;
				.acf-block-body & {
					padding:10px 20px 0 20px;
				}
			}
			& > .acf-input {
				& > .acf-fields.-left {
					border-top:1px solid #eeeeee;
				}
				.acf-block-body & ,
				.acf-fields.-top > & {
					& > .acf-fields.-top {
						border-top:1px dashed #eeeeee;
						& > .acf-field {

							border-top-style:dashed;
							&:first-child {
								border-top-style:none;
							}
							&[data-width] + .acf-field[data-width] {
								border-left-style:dashed;
							}
						}
					}
				}
				& > .acf-table {
					//
					border-width: 1px 0 0 0;
					border-top-style:dashed;
					& > thead > tr > th,
					& > tbody > tr > td {
						border-style:dashed;
					}
				}
			}
		}
	}

}
