&.seamless {
	&,
	&.acf-field-group {
		padding:0;
		.-left > & {
			& > .acf-label {
				padding-top:15px;
				padding-bottom:15px;
			}
		}
		&  > .acf-input > .acf-fields {
			border-style:none;
			&.-left,
			& > .acf-field {
				padding-left:0;
				padding-right:0;
			}
		}
	}
	.acf-fields.-left & > .acf-input > .acf-fields {
		margin-left:-11px;
		margin-right:-11px;
	}
}
