@import 'variables/index';

@import 'mixins/index';

@import 'fields/index';

@import 'block-editor/index';

.color-label {
	display:inline-block;
	padding:0 0.25em;
	background:#fff;
	position:relative;
}

.acf-image-choice {
	position:relative;
	display:inline-block;
	height:100%;
	img {
		object-fit:contain;
	}
	.image-label {
		display: flex;
		position: absolute;
//		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 5px 10px;
		margin:0 -10px -5px -10px;
		overflow-wrap:break-word;
		white-space: normal;
		align-items: center;
		justify-content: center;
		font-weight: 700;
		// text-shadow: 1px 1px 4px #333,
		// 	-1px -1px 4px #333;
		font-size: 12px;
		color: #444;
		background:rgba(255,255,255,0.8);
	}
}
