/*
ToDo:
 - repeaters with table
 - horizontal button group


*/


.acf-block-component,
.edit-post-meta-boxes-area {
	.acf-block-fields {
		div.acf-field {
			padding:10px;
		}
	}
	@include acf-input-fields() {
		font-size:13px;
	}
	.acf-field {
		input[type="checkbox"] {
			border-width: 2px;
			&:checked {
				background: #11a0d2;
				border-color: #11a0d2;
				&::before {
					content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%23ffffff%27%2F%3E%3C%2Fsvg%3E");
					margin:-4px 0 0 -5px;
				}
			}
		}
		&.seamless {
			padding-left:0;
			padding-right:0;
		}
		.acf-label {
			&:not(.acf-accordion-title) {
				margin-bottom:0;
				label {
					font-weight:normal;
					//margin:0;
				}
			}
		}
	}
}
